@use "../../partials/devices";
@import "../../partials/palette";

.ProjectCard {
  height: 300px;
  // max-width: 96%;
  background-color: $white;
  margin: 10px;
  border-radius: 8px;

  @include devices.phone {
    width: 96%;
  }
}

.img {
  width: 101%;
  height: 120px;
  left: 50%;
}
