@use "../../partials/devices";
@import "../../partials/palette";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @include devices.phone {
    flex-direction: row;
    height: 76px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  @include devices.phone {
    justify-content: center;
  }

  &__avatar {
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    height: 76px;
    width: 76px;
    border-radius: 50%;
  }

  &__title {
    margin-top: 10px;

    @include devices.phone {
      margin-left: 10px;
    }
  }
  &__title > h3,
  h1 {
    text-align: center;
  }
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;

  @include devices.phone {
    margin-top: 10px;
    height: 50px;
  }
  &__options {
    position: relative;
    width: 76px;
    margin-top: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include devices.phone {
      flex-direction: row;
      height: 30px;
    }
    &--ball {
      transform: rotate(-90deg);
      z-index: 1;
      left: 75px;
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid $lightGrey;
      border-radius: 50%;
      background-color: $lightGrey;
      @include devices.phone {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 48px;
        transform: rotate(0deg);
      }
    }
  }
  & button {
    background-color: rgba($white, 0);
    color: $white;
    border: 1px solid white;
    border-radius: 10px;
    &:hover {
      background-color: white;
      color: $darkGrey;
    }
  }
}

.skills {
  background-color: $lightGrey;
  margin-left: 5px;
  z-index: 2;
  display: flex;
  align-items: center;
  position: relative;
  @include devices.phone {
    margin-left: 0px;
  }
  &__options {
    margin-top: 115px;
    width: 40px;
    // border: 1px solid blue;
    padding-left: 10px;
    @include devices.phone {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      margin-top: 10px;
      padding-left: 2px;
      height: 40px;
      width: 340px;
      display: flex;
      overflow: scroll;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      white-space: nowrap;
      position: relative;
      -webkit-overflow-scrolling: touch;
    }
  }
  & a {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    @include devices.phone {
      margin-bottom: 0px;
      margin-right: 20px;
    }
    & svg {
      height: 30px;
      width: 30px;
    }
  }
}

.skills__options * {
  display: flex;
  // flex-direction: row;
  // text-align: center;
}

.skills__options label:hover {
  background-color: rgba($green, 0.5);
  color: $white;
}

.more {
  display: flex;
  justify-content: center;
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: $green;
    color: white;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    margin-bottom: 5px;
  }
}
